* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}
