html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}


// TEMPORARY

.nav-link {
  display: inline-block;
  color: #ddd;
  margin-right: 1em;
  text-decoration: none;

  &:hover {
    color: #ffd;
   text-shadow: 2px 2px 4px rgba(255, 255, 128, 0.7);
  }
}

.active {
  font-weight: bold;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}
